/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL */
html {
    font-family: 'Open Sans', sans-serif;
}

.inline-block {
    display: inline-block;
}

li {
    list-style: none;
}

ul {
    margin: 0 20px;
}

.box-40 {
    width: 40%;
}

.box-60 {
    width: 60%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */

/* header top */
header>.header-top {
    /* debug */
    background-color: beige;
}

.container-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    height: 80px;
}

.container-header-top>li:first-child>.logo {
    /* debug */
    width: 180px;
    background-color: blue;
    color: red;
}

/* header-bottom */
header>.header-bottom {
    background-color: #B4D0E7;
    /* debug */
    height: 700px;
}

.header-bottom>.container-header-bottom {
    width: 65%;
    margin: auto;
    /* debug */
    height: 100%;
    border: 2px solid black;
}

.container-header-bottom>h1 {
    width: 100%;
    /* debug */
    height: 250px;
    background-color: lightcoral;
}

.container-header-bottom>h1+div {
    /* debug */
    height: calc(100% - 250px);
    background-color: azure;
}

.container-header-bottom>h1+div>div:first-child {
    /* debug */
    height: calc(100%-250px);
    background-color: blueviolet;
}

.container-header-bottom>h1+div>div:nth-of-type(2) {
    /* debug */
    height: calc(100%-250px);
    background-color: beige;
}

/* MAIN */

/* main prima sezione */
main .container-main {
    width: 60%;
    margin: auto;
}

main>.container-main>h2 {
    /* debug */
    height: 200px;
    background-color: aqua;
}

main>.container-main>h2+div {
    /* debug */
    height: 100px;
    background-color: beige;
}

main .container-main .box-subscriptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .container-main .box-subscriptions>* {
    width: calc((100% / 3) - 35px);
    /* debug */
    background-color: lightgrey;
    height: 800px;
}

main .container-main>.contact-team {
    /* debug */
    height: 300px;
    background-color: lightblue;
}

/* main seconda sezione */

main .container-main .img.box-60 {
    /* debug */
    background-color: lightcoral;
    height: 400px;
}

main .container-main .box-40 {
    /* debug */
    background-color: beige;
    height: 400px;
}

/* main terza sezione */
main .container-main>h2 {
    /* debug */
    height: 150px;
    background-color: lightgreen;
}

main .container-main h2+.flex>* {
    width: calc(100% / 3);
    /* debug */
    border: 1px solid black;
    background-color: green;
    height: 400px;
}



/* FOOTER */