/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL */
html {
    font-family: 'Open Sans', sans-serif;
}

.inline-block {
    display: inline-block;
}

li {
    list-style: none;
}

.box-30 {
    width: 30%;
}

.box-70 {
    width: 70%;
}

.box-40 {
    width: 40%;
}

.box-60 {
    width: 60%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 60%;
    margin: auto;
}

a {
    text-decoration: none;
}

.button {
    padding: 10px 20px;
    color: white;
    background-color: #0061FF;
}

/* HEADER */

/* header top */
.container-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.container-header-top>li>* {
    vertical-align: middle;
}

.container-header-top a {
    color: black;
}

.container-header-top .inline-block .button {
    color: white;
}

.container-header-top>li:first-child>a .logo {
    width: 180px;
    margin-left: 5px;
}

header .container-header-top ul {
    margin: 0 20px;
}

/* header-bottom */
header>.header-bottom {
    background-color: #B4D0E7;
}

.header-bottom>.container-header-bottom {
    width: 65%;
    margin: auto;
}

.container-header-bottom>h1 {
    font-weight: bold;
    font-size: 70px;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
}

header .container-header-bottom .flex .box-30 p {
    margin-bottom: 40px;
}

header .container-header-bottom .flex .box-30 a+div {
    margin-top: 40px;
    padding-bottom: 80px;
}

header .container-header-bottom .flex .box-30 div>i {
    font-size: 60px;
}

header .container-header-bottom .box-70 img {
    width: 100%;
}

header .container-header-bottom>.flex {
    position: relative;
    top: 50px;
}

/* MAIN */

/* main prima sezione */
main section:nth-of-type(1)>h2 {
    padding-top: 120px;
    padding-bottom: 60px;
    font-size: 40px;
}

main section:nth-of-type(1)>h2+div {
    margin-bottom: 60px;
}

main span.inline-block {
    margin-right: 30px;
}

main .container .box-subscriptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

main .container .box-subscriptions>* {
    width: calc((100% / 3) - 35px);
    border: 1px solid lightgrey;
}

main .box-subscriptions>.column-sub>.column-sub-top {
    text-align: center;
    padding: 10px 0;
    border: 1px solid lightgrey;
}

main .box-subscriptions>.column-sub .column-sub-bottom {
    padding: 30px;
}

main .box-subscriptions>.column-sub .column-sub-bottom>h3 {
    font-size: 25px;
}

main .column-sub-bottom>* {
    margin-bottom: 30px;
}

main .column-sub-bottom>a:last-of-type {
    display: block;
    padding: 10px 20px;
    text-align: center;
}

main .column-sub-bottom>a+div>a {
    text-decoration: underline;
    color: blue;
}

main .term {
    color: grey;
    margin-bottom: 60px;
}

main .column-sub-bottom>div.flex>div:last-of-type {
    width: 90%;
    margin-left: 5px;
}

main .column-sub-bottom>hr {
    width: 25%;
    border: 1px solid lightgrey;
}

main .column-sub-bottom h4 {
    font-size: 15px;
}

main .container>.contact-team {
    margin-top: 30px;
}

main .contact-team>div:first-child {
    border: 1px solid lightgrey;
    text-align: center;
    padding: 8px 0;
}

main .contact-team>div.flex {
    padding: 30px;
    border: 1px solid lightgrey;
    border-top: none;
    justify-content: space-between;
}

main .flex div>h3:first-child {
    font-size: 25px;
}

main .flex div br+h4 {
    margin-bottom: 50px;
    font-size: 15px;
}

/* main seconda sezione */
main section:nth-of-type(2)>div.flex {
    margin-top: 150px;
}

main section:nth-of-type(2)>div.flex>.box-60 {
    width: 60%;
}

main section:nth-of-type(2) .box-60>img {
    width: 100%;
}

main .box-40 {
    padding: 40px;
}

main .box-40>p {
    margin: 30px 0;
}

main .box-40>a {
    padding: 10px 15px;
    border: 1px solid black;
    color: black;
}

/* main terza sezione */
main section:nth-of-type(3)>h2 {
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 50px;
}

main section:nth-of-type(3) .operations>div>* {
    margin-bottom: 20px;
}

main section:nth-of-type(3) .img img {
    width: 100%;
}

main section:nth-of-type(3) .operations h3 {
    font-size: 25px;
}

main .operations {
    justify-content: space-between;
}

main .container h2+.operations>* {
    width: calc((100% / 3) - 25px);
}

/* main quarta sezione */
main section:nth-of-type(4) .discover_more>h2 {
    font-size: 40px;
    margin-bottom: 70px;
    margin-top: 150px;
}

main section:nth-of-type(4) .discover_more>a {
    display: inline-block;
    text-decoration: underline;
    color: blue;
    margin-bottom: 150px;
}

main .square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

main .square .mini_square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
    height: calc(100% / 2);
}

main .square>.mini_square img {
    width: 50%;
}

main .square .mini_square img {
    filter: invert(1);
}

#Designit {
    background-color: #A2D39B;
    border: 20px solid #D1E9CD;
}

#ASU {
    background-color: #61082B;
}

#UF {
    background-color: #0093CE;
}

#topps {
    background-color: #FF1C1C;
}

#world_bicycle_relief {
    background-color: #D5001F;
}

#hearst_corp {
    background-color: #B4D0E7;
}

#lonely_planet {
    background-color: #0D2481;
}

#clear_channel {
    background-color: #FFD830;
}

#middle-square {
    padding: 50px;
    background-color: #F5F5F5;
}

#middle-square img {
    width: 50%;
}

#middle-square * {
    margin-bottom: 50px;
}

#middle-square img+hr {
    border: 1px solid lightgrey;
    width: 25%;
}

/* main quinta sezione */
main section:nth-of-type(5) {
    background-color: #B4D0E7;
}

main section:nth-of-type(5)>.flex {
    justify-content: center;
    padding: 150px 0;
}

main section:nth-of-type(5)>.flex>h2 {
    color: #61082B;
    font-size: 40px;
    padding-right: 100px;
}

main section:nth-of-type(5)>.flex>h2+a {
    background-color: white;
    padding: 15px 40px;
}

/* main sesta sezione */
main section:nth-of-type(6)>h2 {
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 50px;
}

main section:nth-of-type(6)>.faq-box {
    margin-bottom: 150px;
}

main section:nth-of-type(6)>.faq-box>div:first-child {
    border-top: 1px solid black;
}

main section:nth-of-type(6)>.faq-box>* {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

main section:nth-of-type(6)>.faq-box>div>* {
    padding: 50px 0;
}

main section:nth-of-type(6)>.faq-box i {
    padding-right: 25px;
}

/* FOOTER */
footer {
    background-color: black;
}

/* footer prima sezione */
footer>section:first-child>* {
    width: calc(100% / 5);
}

footer .column-footer>h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 35px;
    margin-top: 80px;
}

footer .column-footer>h3+nav ul li a {
    display: inline-block;
    margin-bottom: 20px;
    color: white;
}

/* footer seconda sezione */
footer>section:last-child>div {
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 40px;
    display: inline-block;
    padding-right: 50px;
    border-top: 1px solid white;
    color: grey;
}

footer>section:last-child>div>div * {
    vertical-align: middle;
}