/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL */
html {
    font-family: 'Open Sans', sans-serif;
}

.inline-block {
    display: inline-block;
}

li {
    list-style: none;
}

.box-30 {
    width: 30%;
}

.box-70 {
    width: 70%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 60%;
    margin: auto;
}

a {
    text-decoration: none;
}

.button {
    padding: 10px 20px;
    color: white;
    background-color: #0061FF;
}

/* HEADER */

/* header top */
.container-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.container-header-top>li>* {
    vertical-align: middle;
}

.container-header-top a {
    color: black;
}

.container-header-top .inline-block .button {
    color: white;
}

.container-header-top>li:first-child>a .logo {
    width: 180px;
    margin-left: 5px;
}

header .container-header-top ul {
    margin: 0 20px;
}

/* header-bottom */
header>.header-bottom {
    background-color: #B4D0E7;
}

.header-bottom>.container-header-bottom {
    width: 65%;
    margin: auto;
}

.container-header-bottom>h1 {
    font-weight: bold;
    font-size: 70px;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
}

header .container-header-bottom .flex .box-30 p {
    margin-bottom: 40px;
}

header .container-header-bottom .flex .box-30 a+div {
    margin-top: 40px;
    padding-bottom: 80px;
}

header .container-header-bottom .flex .box-30 div>i {
    font-size: 60px;
}

header .container-header-bottom .box-70 img {
    width: 100%;
}

header .container-header-bottom>.flex {
    position: relative;
    top: 50px;
}

/* MAIN */

/* main prima sezione */
main>.container>h2 {
    padding-top: 120px;
    padding-bottom: 60px;
    font-size: 40px;
}

main>.container>h2+div {
    margin-bottom: 60px;
}

main span.inline-block {
    margin-right: 30px;
}

main .container .box-subscriptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

main .container .box-subscriptions>* {
    width: calc((100% / 3) - 35px);
    border: 1px solid lightgrey;
}

main .box-subscriptions>.column-sub>.column-sub-top {
    text-align: center;
    padding: 10px 0;
    border: 1px solid lightgrey;
}

main .box-subscriptions>.column-sub .column-sub-bottom {
    padding: 30px;
}

main .box-subscriptions>.column-sub .column-sub-bottom>h3 {
    font-size: 25px;
}

main .column-sub-bottom>* {
    margin-bottom: 30px;
}

main .column-sub-bottom>a:last-of-type {
    display: block;
    padding: 10px 20px;
    text-align: center;
}

main .column-sub-bottom>a+div>a {
    text-decoration: underline;
    color: blue;
}

main .term {
    color: grey;
    margin-bottom: 60px;
}

main .column-sub-bottom>div.flex>div:last-of-type {
    width: 90%;
    margin-left: 5px;
}

main .column-sub-bottom>hr {
    width: 25%;
    border: 1px solid lightgrey;
}

main .column-sub-bottom h4 {
    font-size: 15px;
}

main .container>.contact-team {
    margin-top: 30px;
}

main .contact-team>div:first-child {
    border: 1px solid lightgrey;
    text-align: center;
    padding: 8px 0;
}

main .contact-team>div.flex {
    padding: 30px;
    border: 1px solid lightgrey;
    border-top: none;
    justify-content: space-between;
}

main .flex div>h3:first-child {
    font-size: 25px;
}

main .flex div br+h4 {
    margin-bottom: 50px;
    font-size: 15px;
}

/* main seconda sezione */
main .container .img.box-60 {
    /* debug */
    background-color: lightcoral;
    height: 400px;
}

main .container .box-40 {
    /* debug */
    background-color: beige;
    height: 400px;
}

/* main terza sezione */

main .container h2+.operations {
    /* debug */
    height: 800px;
}

main .container h2+.operations>* {
    width: calc(100% / 3);
    /* debug */
    border: 1px solid black;
    background-color: green;
    height: 400px;
}

/* main quarta sezione */
main .container .discover_more {
    /* debug */
    height: 400px;
    background-color: grey;
}

/* main quinta sezione */
main>section:nth-of-type(5) .container {
    /* debug */
    height: 300px;
    border: 2px solid black;
}

main>section:nth-of-type(5) .container+.some-logos {
    /* debug */
    border: 2px solid red;
    min-height: 300px;
}

main>section:nth-of-type(5) .some-logos * {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    /* debug */
    border: 2px solid blue;
}

main>section:nth-of-type(5) .some-logos .mini_square {
    width: calc(100% / 2);
    height: calc(100% / 2);
    /* debug */
    border: 2px solid orchid;
}

main>section:nth-of-type(5)>div:last-child {
    /* debug */
    height: 200px;
    border: 2px solid black;
}

/* main sesta sezione */
main>section:nth-of-type(6)>h2~div {
    /* debug */
    height: 100px;
    border: 2px solid orange;
}

/* FOOTER */
footer {
    background-color: black;
    /* debug */
    min-height: 500px;
}

/* footer prima sezione */
footer>section:first-child>* {
    width: calc(100% / 5);
    /* debug */
    height: 500px;
    border: 2px solid orange;
}

/* footer seconda sezione */
footer>section:last-child>div {
    display: inline-block;
    padding-right: 50px;
    /* debug */
    border-top: 1px solid white;
    color: white;
}